@import url("./a.less");
body {
  background: #ccc;
  transform: translate(45deg);
}

.img {
  width: 200px;
  height: 200px;
  background: url('./img/img.png') center center no-repeat;
  background-size: contain;
}